.box {
  width: 100px;
  height: 100px;
  background-color: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#key {
  color: white;
  font-size: 32px;
  font-style: oblique;
}

.new-game {
  margin-top: 10px;
  padding: 20px;
  border-radius: 4px;
}

